
<div *ngIf="(step === 1)||(step === 2)" class="home-main-container">
    <div class="developer_registartion">
     <div class="container">
       <div class="main-registration-part">
         <div class="heading-11">
           <h2>Join OfQuiz </h2>
           <p>Submit your details for Sign-Up</p>
         </div>
         <div class="tab-section">
           <div class="Coloumn-gap">
             <div class="steps-details">
               <ul>
                 <li *ngIf="(step == 1)"><img src="assets/images/Head-Icon.png" alt=""></li>
                 <li *ngIf="!(step == 1)"><img src="assets/images/HeadGrey.png" alt=""></li>
                 <li><p style="margin-top:4px !important;">Step 1: <span>Complete the form</span></p></li>
               </ul>
             </div>
           </div>
           <div class="Coloumn-gap">
             <div class="steps-details">
               <ul>
                 <li *ngIf="!(step == 2)"><img src="assets/images/link_icon_grey.png" alt=""></li>
                 <li *ngIf="(step == 2)"><img src="assets/images/link_icon_blue.png" alt=""></li> 
                 <li><p style="margin-top:4px !important;">Step 2: <span>Save and Veiw Quizes</span></p></li>
               </ul>
             </div>
           </div>
         </div>
         <div *ngIf="step == 1">
         <div class="step-1-section">
           <h2>Fill Your Details</h2>
           <div class="step-form-information">
             <div class="row">
               <div class="col-md-6 col-sm-6">
                 <form class="w_60" #user="ngForm" (ngSubmit)="register(user)" >
                   <div class="form-group">
                     <label>First Name</label>
                     <!-- <input type="text" class="form-control custom-idea"> -->
                     <input ngModel #firstName="ngModel" required  class="form-control" type="text" name="firstName" placeholder="First Name" pattern="[a-zA-Z][a-zA-Z ]+">
                     <p class="text-danger" *ngIf="!firstName.valid && user.submitted">
                       <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="firstName.errors.required">First Name is required!</span>
                       <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="firstName.errors.pattern">Please enter a valid Name.</span>
                     </p>
                   </div>
                   <div class="form-group">
                     <label>Last Name</label>
                     <!-- <input type="text" class="form-control custom-idea"> -->
                     <input ngModel #lastName="ngModel" required  class="form-control" type="text" name="lastName" placeholder="Last Name" pattern="[a-zA-Z][a-zA-Z ]+">
                     <p class="text-danger" *ngIf="!lastName.valid && user.submitted">
                       <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="lastName.errors.required">Last Name is required!</span>
                       <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="lastName.errors.pattern">Please enter a valid last name.</span>
                     </p>
                   </div>
                   <div class="form-group">
                     <label>Email</label>
                     <!-- <input type="text" class="form-control custom-idea"> -->
                     <input ngModel #email="ngModel" required  class="form-control" type="email" name="email" placeholder="Email" pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$">
                     <p class="text-danger" *ngIf="!email.valid && user.submitted">
                       <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="email.errors.required">Email is required!</span>
                       <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="email.errors.pattern">Please enter a valid email address.</span>
                     </p>
                   </div>

                   <div class="form-group">
                    <label>Password</label>
                    <!-- <input type="text" class="form-control custom-idea"> -->
                    <input ngModel #password="ngModel" required  class="form-control" type="password" name="password" placeholder="Password" minlength="8">
                    <p class="text-danger" *ngIf="!password.valid && user.submitted">
                      <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="password.errors.required">Password is required!</span>
                      <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="password.errors.minlength">Please enter a valid password with 8 charecters.</span>
                    </p>
                  </div>

                  <div class="form-group">
                    <label>Branch</label>
                    <!-- <input type="text" class="form-control custom-idea"> -->
                    <input ngModel #branch="ngModel" required  class="form-control" type="text" name="branch" placeholder="Branch" pattern="[a-zA-Z][a-zA-Z ]+">
                    <p class="text-danger" *ngIf="!branch.valid && user.submitted">
                      <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="branch.errors.required">Branch is required!</span>
                      <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="branch.errors.pattern">Please enter a valid Branch Name.</span>
                    </p>
                  </div>

                  <div class="form-group">
                    <label>Semester</label>
                    <!-- <input type="text" class="form-control custom-idea"> -->
                    <input ngModel #Semester="ngModel" required  class="form-control" type="text" name="Semester" placeholder="Semester" pattern="[0-9]" maxlength="1">
                    <p class="text-danger" *ngIf="!branch.valid && user.submitted">
                      <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="Semester.errors.required">Semester is required!</span>
                      <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="Semester.errors.pattern">Please enter a single digit Semester.</span>
                    </p>
                  </div>


                   <button type="submit" class="button btn-steps">Continue</button>
                 </form>
                 
               </div>
               <div class="col-md-6 col-sm-6">
                 <div class="free-points">
                   <h2>You’ll love OfQuiz</h2>
                   <div class="free">
                     <p><a>Free!</a> Login Here</p>
                     <div class="loginContainer">
                     <form class="w_60 formLogin" #user1="ngForm" (ngSubmit)="login(user1)" >
                      <div class="form-group">
                        <label>Email</label>
                        <!-- <input type="text" class="form-control custom-idea"> -->
                        <input ngModel #email1="ngModel" required  class="form-control" type="email" name="email1" placeholder="Email" pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$">
                        <p class="text-danger" *ngIf="!email1.valid && user1.submitted">
                          <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="email1.errors.required">Email is required!</span>
                          <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="email1.errors.pattern">Please enter a valid email address.</span>
                        </p>
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <!-- <input type="text" class="form-control custom-idea"> -->
                        <input ngModel #password1="ngModel" required  class="form-control" type="password" name="password1" placeholder="Password" minlength="8">
                        <p class="text-danger" *ngIf="!password1.valid && user1.submitted">
                          <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="password1.errors.required">Password is required!</span>
                          <span class="d-block text-left mt-1 ml-1 small text-danger" *ngIf="password1.errors.minlength">Please enter a valid password with 8 charecters.</span>
                        </p>
                      </div>

                      <div class="for-group"><button type="submit" class="button btn-steps">Continue</button></div>
                     </form>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div *ngIf="step == 2">
        <div class="step-2-section">

        </div>
           <div class="tableRow">
             <div class="tableCell">Name</div>
             <div class="tableCell">start Link</div>

           </div>
           <div *ngFor="let quize of quizeList; index as i;" class="tableRow">
            <div class="tableCell">{{quize.Name}}</div>
            <div class="tableCell" (click)="startQuize(i)">start Now</div>

          </div>
        </div>

      </div>
           
       </div>
           
         </div>
       </div>

       <div *ngIf="step === 3">
        <div class="QuizContainer">
          <div class="infoSection">
            <div class="QuizHeading">Quiz 1</div>
            <div class="counterBox">Question : {{currentQuestion + 1}}/20</div>
            <div class="timerBox"> :{{timer}} </div>
          </div>
          <div class="questionBox">
            <div class="question">Question Number {{currentQuestion + 1}}: {{quizeList[currentQuiz].questions[currentQuestion].question}}</div>
            <div class="optionBox">
              <div class="form-group" *ngFor="let answere of quizeList[currentQuiz].questions[currentQuestion].answers; index as i;">
                <div class="form-control">
                  <label class="radio-inline">
                   <input [value]="i" type="radio" name="options" (change)="storeAnswere(i)"> {{answere}}
                  </label>
                </div>
              </div>
            </div>
            <button id="nextQuestion" class=" button nextButton" (click)="QuestionChange()" >Next</button>
            <button id="submitQuiz" class=" button nextButton" (click)="submitQuiz()" >Submit Quiz</button>
          </div>
        </div>
      </div>

      <div *ngIf="step === 4">
        
        <div class="resultContainer">
          <div><h2>Following Is Your Result:</h2></div>
          <div *ngIf="red" class="circle red">
            {{result}}%
          </div>
          <div *ngIf="blue" class="circle blue">
            {{result}}%
          </div>
          <div *ngIf="green" class="circle green">
            {{result}}%
          </div>
          <div class="button nextButton" (click)="home()">Home</div>
        </div>
      
      </div>
     
   